extends ../layout

block content
  .container
    h1= title

    if error_msg
      .alert.alert-danger
        p= error_msg

    if success_msg
      .alert.alert-success
        p= success_msg

    form(method="POST", action="/login")
      .form-group
        label(for="email") Email
        input#email.form-control(type="email", name="email", required)
      .form-group
        label(for="password") Contraseña
        input#password.form-control(type="password", name="password", required)
      button.btn.btn-primary(type="submit") Iniciar Sesión
