extends ../layout

block content
  h1 Admisiones
  a.btn.btn-primary(href="/admisiones/crear") Nueva Admisión
  a.btn.btn-secondary.ms-2(href="/") Volver al inicio
  // Aquí irá el listado de admisiones